
@{
    ViewBag.Title = "Thank you!";
    Layout = "~/Views/Shared/_BetaAirlinesLayout.cshtml";
}

<section class="content flexcolumn">
    <h2>@ViewBag.Title</h2>
    <h3>
      Your message has been sent successfully.  
    </h3>
</section>