@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_BetaAirlinesLayout.cshtml";
}

<section id="mainSlideshow" class="slideshow">
    <div>
        <img src="~/Content/images/WingPhoto.png" />
    </div>
    <div>
        <img src="~/Content/images/Ticket_md.png" />
    </div>
    <div id="motto">
        <span>
            <span class="dancingFont">Beta Airlines</span> will make your travel experience <span class="dancingFont">Beta!</span>
        </span>
    </div>
</section>
<section class="content">
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi quis rhoncus lectus. Suspendisse mollis accumsan placerat.
        Nullam eget nunc sagittis, condimentum leo in, semper mauris. Nullam sit amet placerat tellus. Morbi mauris dui, varius sit
        amet nunc tincidunt, tristique vulputate metus. Suspendisse eget turpis leo. Maecenas condimentum, neque ut interdum tempor,
        est ante euismod arcu, in faucibus nibh nisl vel nulla.
    </p>
    <p>
        Ut in tellus accumsan, gravida leo ac, malesuada mi. Suspendisse semper ipsum in mattis rhoncus.
        <span class="blockquote">
            We'll fly you to the moon!
        </span>
        Praesent ac egestas risus. Morbi ultricies mauris non maximus convallis.
        Aenean suscipit,
        dolor nec varius egestas, lectus neque semper massa, vitae porta turpis leo at erat.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer mattis augue in ultricies sollicitudin.
        Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.

        Donec ac sem a dui dictum malesuada. Etiam eget tellus urna. Nulla feugiat elementum turpis, ac vestibulum
        augue feugiat et. Cras feugiat ipsum sed leo porttitor cursus. Nunc vestibulum lorem eget nunc
        feugiat dapibus. Ut in velit pellentesque, cursus quam sed, sollicitudin tellus. Nunc luctus nisi
        sed mauris laoreet finibus. Pellentesque at sollicitudin massa. Ut sit amet suscipit sem, in auctor
        eros. Mauris dui est, pulvinar vel erat a, pharetra aliquam quam. Pellentesque varius dolor eu
        tristique tristique. Proin justo magna, euismod sed nulla a, consequat vehicula urna. Morbi ac
        egestas augue. Donec in risus orci. Curabitur vitae risus vitae est consequat lobortis quis sodales
        nisl. Suspendisse congue egestas justo, a commodo dui tempor imperdiet.
    </p>
</section>
